urgent:
    - عمل مجموعات طلاب وتعيينهم لكل معلم وعرض فقط الطلاب الذين يمتلكهم المعلم
    - تغيير التاريخ في الواجهة الأمامية لاستخدام التقويم الميلادي بدلاً من الهجري (تم)
    - جعل الحضور يتم تحميله من الملف إذا كان موجودًا (تم)
    - القدرة على تغيير المعلم لما سيتم حفظه والحفظ الكامل للطلاب (تم)
    - قدرة المنظم على حذف سجل من سجلات الطلاب (تم)
non-urgent:
    - جعل الطلاب قادرون على الدخول على النظام ومتابعة تقدمهم
    - اضافة نظام للسرد
    - لينكات تحميل الكتب المراد قراءتها
    - لينكات لتحميل المصحف قراءات والمصحف المعلم
    - قدرة المعلم على متابعة تقدم المجموعة من حفظ ومراجعة وسرد زي جروب القراءة
    - رسم بياني للحضور ومتابعة التقدم الفردي
    - القدرة على عمل عمل تصويت حضور او افكار
    - عمل تطبيق حواري زي واتساب
    - جعل كل شيء خاص بالحلقة على التطبيق
    - عمل qr code للانضمام للحلقة
    